body{
    font-family:"Microsoft Yahei",Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0 auto 0 auto;
    padding: 0;
}
html {
    font-size: calc(100vw/3.20);
}
div{
    font-family:"Microsoft Yahei" !important;
}
.bg{
    background-attachment:fixed;
}
p{
    font-size: 14px
}
