.CardPic{
    position: absolute;
    display: block;
    left:0;
    top:0;
    bottom: 0;
}
.CardIntr{
    display:flex;
    align-items: center;/*垂直居中*/
    height: 100%;
    width:90%;
    white-space: pre-wrap;
}
.cardbox{
    display:flex;
    align-items: center;/*垂直居中*/
    height: 100%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:60%;
    margin:0 auto;
    flex-wrap: wrap;
    align-content:center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.line{
    width:100%;
    display: block;
    margin:0 auto;
    text-align: center;
    color: #f7f3f9;
    font-size:16px;
    padding-top:8px;
}

.flex>div{
    padding-top:24px;
}
bold{
    font-weight: bold;
    padding: 0 6px;
}
.green{
    color:#c8e1a0;
}